/* VARIABLES */
:root{
  --parent-inline-padding: .8rem !important;
  --child-margin-bottom: 1.2rem !important;
  --paddin-rounded: 2rem !important;
  --primary-color: #fff;
  --primary-text-color: #000;
  --secondary-color: #green
  --medium-fontsize: 2rem !important;
  --small-fontsize: 1rem !important;
  --large-fontsize: 3rem !important;
}
html{
  font-size: 100%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Mono', monospace;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: inherit !important;
  color: hsl(0, 0%, 0%);
}
body{
padding: 0;
margin: 0;
font-family: inherit !important;
overflow-x: hidden;
position: relative;
}
/* HEADER STYLES */
header{
  background-color: hsl(240, 63%, 45%);
  padding-inline: var(--parent-inline-padding);
}
header{
  display: flex !important;
  flex-direction: column !important;
}
header > *{
  margin-bottom: var(--child-margin-bottom);
}

/* HEADER ITEMS */
.header__secton--1{
 display: grid !important;
 grid-template-columns: 11fr 1fr !important;
 padding: var(--paddin-rounded);
}
.header__secton--1 > h1{
  text-shadow: .1rem 0 .2rem black !important;
  color: var(--primary-color) !important;
}
.header__secton--1 > .accounts{
  cursor: pointer !important;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
}
.header__secton--1 > .accounts > i{
  color: var(--primary-color);
  box-shadow: .1rem .1rem .2rem .4rem rgba(0, 0, 0, 0.08) !important;
  
}
/* STYLYING MENUS */
.menus {
padding-inline: var(--parent-inline-padding);
margin-top: -5rem;
margin-bottom: 4em;
width: 80%;
}
.menus > ul {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.menus > ul > .nthchild{
  padding: 0 4rem !important;
}
.menus > ul > li {
 list-style: none;
 
}
.menus > ul > li > a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: var(--small-fontsize);
}
.menus > ul > li > a:active {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: var(--small-fontsize);
}
.menus > ul > li > a:hover{
  text-decoration: underline;
  color: var(--secondary-color);
}

/* HOMEPAGE */
.homepage {
  height: 78vh;
  background-image: linear-gradient(to bottom, rgba(2, 0, 0, 0.573), rgba(0, 0, 0, 0.865)), url('./images/hmpg-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homepage > h1 {
  font-size: var(--large-fontsize);
  margin-bottom: var(--child-margin-bottom);
}
.homepage > p {
  font-size: var(--small-fontsize);
  line-height: 2;
  width: 50vw;
}
.homepage *{
  color: var(--primary-color);
}

/* SIDEBAR */
.hide-sidebar{
  background-color: var(--primary-color);
  width: 20% !important;
  height: 400px;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: space-evenly !important;
  padding:2rem 0;
  /* margin: 0 0 0 auto !important; */
  position: absolute;
  top: 8% !important;
  left: 100%;
  transition: left .5s ease;
  
}
.aside-active{
  left: 80%;
}
.sign-up {
  background-color: blueviolet;
  ;
}