/* VARIABLES */
:root{
  --parent-inline-padding: .8rem !important;
  --child-margin-bottom: 1.2rem !important;
}
html{
  font-size: 100%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Mono', monospace;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: inherit !important;
  color: hsl(0, 0%, 0%);
}
body{
padding: 0;
margin: 0;
font-family: inherit !important;
}
/* HEADER STYLES */
header{
  background-color: hsl(240, 63%, 45%);
  padding-inline: var(--parent-inline-padding);
}
header{
  display: flex !important;
  flex-direction: column !important;
}
header > *{
  margin-bottom: var(--child-margin-bottom);
}

/* HEADER ITEMS */
.header__secton--1{
 background-color: red;
 display: flex;
 flex-direction: row;
}