/* VARIABLES */
:root{
  --parent-inline-padding: .8rem !important;
  --child-margin-bottom: 1.2rem !important;
  --paddin-rounded: 2rem !important;
  --primary-color: #fff;
  --primary-text-color: #000
  --medium-fontsize: 2rem !important;
  --small-fontsize: 1rem !important;
  --large-fontsize: 3rem !important;
}
html{
  font-size: 100%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Mono', monospace;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: inherit !important;
  color: hsl(0, 0%, 0%);
}
body{
padding: 0;
margin: 0;
font-family: inherit !important;
}
/* HEADER STYLES */
header{
  background-color: hsl(240, 63%, 45%);
  padding-inline: var(--parent-inline-padding);
}
header{
  display: flex !important;
  flex-direction: column !important;
}
header > *{
  margin-bottom: var(--child-margin-bottom);
}

/* HEADER ITEMS */
.header__secton--1{
 display: grid !important;
 grid-template-columns: 11fr 1fr !important;
 padding: var(--paddin-rounded);
}
.header__secton--1 > h1{
  text-shadow: .1rem 0 .2rem black !important;
  color: var(--primary-color) !important;
}
.header__secton--1 > .accounts > i{
  color: var(--primary-color);
  box-shadow: .1rem .1rem .2rem .4rem rgba(0, 0, 0, 0.08) !important;
}
/* STYLYING MENUS */
.menus {
padding-inline: var(--parent-inline-padding);
margin-top: -1.6rem;
}
.menus > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.menus > ul > li {
 list-style: none;
}
.menus > ul > li > a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: var(--small-fontsize);
}