html{
  font-size: 100%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Mono', monospace;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: inherit !important;
  color: hsl(0, 0%, 0%);
}
body{
padding: 0;
margin: 0;
font-family: inherit !important;
}
/* HEADER STYLES */
header{
  background-color: hsl(240, 38%, 47%);
}
header *{
  display: flex !important;
}