html{
    font-size: 100%;
    box-sizing: border-box;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit !important;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: inherit !important;
}
.admin__sidebar{
    background-color: hsl(215, 70%, 16%);
    width: 25vw;
    padding: 4% 0;
    position: relative;
}
.admin__sidebar *{
    color: #fff;
    font-size: 1.2rem;
    width: 100% !important;
    margin-left: .8rem !important;
    margin-bottom: 8% !important;
    cursor: pointer;
}
@media screen and (min-width:900px){
    .admin__sidebar{
        width: 20vw;
    }
}
@media screen and (min-width:1140px){
    .admin__sidebar{
        width: 14vw;
        font-size: 1rem;
    }
}
.admin__sidebar *::first-letter{
    text-transform: capitalize;
}
.admin__sidebar *:hover{
    text-decoration: underline;
}

/* Sidebar submenus */
.admin__sidebar--submenus {
    background-color: red;
    width: 50vw !important;
}
.admin__sidebar--submenus > ul {
    width: 100%;
    /* background-color: aqua; */
    padding: .2rem 0;
}
.admin__sidebar--submenus > ul > li {
    list-style-type: none;
}
.admin__sidebar--submenus >ul > li > a {
    color: #000;
    text-decoration: none;
}
/* position each submenu */
.one{
    position: absolute;
    top: 6%;
    left: 80%;
    
}