html{
    font-size: 100%;
    box-sizing: border-box;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit !important;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: inherit !important;
}
.admin__sidebar{
    background-color: hsl(215, 70%, 16%);
    width: 30vw;
    padding: 4% 0;
}
.admin__sidebar *{
    color: #fff;
    font-size: 1.6rem;
    width: 100% !important;
    margin-left: 1.2rem !important;
    margin-bottom: 8% !important;
    cursor: pointer;
}
.admin__sidebar *:hover{
    text-decoration: underline;
}