html{
    font-size: 100%;
    box-sizing: border-box;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit !important;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: inherit !important;
}
.admin__sidebar{
    background-color: hsl(215, 70%, 16%);
    width: 25vw;
    padding: 4% 0;
    position: relative;
}
.admin__sidebar > div{
    color: #fff;
    font-size: 1.2rem;
    width: 100% !important;
    margin-left: .8rem !important;
    margin-bottom: 8% !important;
    cursor: pointer;
    
}
@media screen and (min-width:900px){
    .admin__sidebar{
        width: 20vw;
    }
}
@media screen and (min-width:1140px){
    .admin__sidebar{
        width: 14vw;
        font-size: 1rem;
    }
}
.admin__sidebar > div::first-letter{
    text-transform: capitalize;
}
.admin__sidebar div:hover{
    text-decoration: underline;
}

/* Sidebar submenus */
.admin__sidebar--submenus {
    background-color: hsl(215, 91%, 29%);
    display: none !important;
    width: 40vw !important;
}
.admin__sidebar--submenus > ul {
    width: 80% !important;
    margin: 0 auto !important;
}
.admin__sidebar--submenus > ul > li {
    list-style-type: none;
    margin: .4rem 0 !important;
}
.admin__sidebar--submenus >ul > li > a {
    display: block !important;
    color: #fff;
    text-decoration: none;
    margin: 0 !important;
}
/* position each submenu */
.menu__one:hover .one{
    position: absolute;
    top: 14%;
    left: 100%;
    display: block !important;
}
.menu__two:hover .two{
    position: absolute;
    top: 30%;
    left: 100%;
    display: block !important;
}
.menu__three:hover .three{
    position: absolute;
    top: 50%;
    left: 100%;
    display: block !important;
}
.menu__four:hover .four{
    position: absolute;
    top: 64%;
    left: 100%;
    display: block !important;
}
.login-main {
    height: 100vh !important;
}
.login-main main{
    background-color: hsl(240, 63%, 45%);
    height: 100vh !important;
    display: flex !important;
    /* justify-content: center !important; */
    align-items: center !important;
}
.login-main main .login{
    width: 80vw !important;
    padding: 2.8%;
    margin-inline: auto !important;
    /* background-color: black; */
    
}
.login-main main .login form{
    display: flex !important;
    flex-direction: column;
    width: 100% !important;
}
.login-main main .login form .formgroup{
    margin-bottom: .8rem !important;
    width: 100% !important;
}
.login-main main .login form .formgroup *{
    display: block !important;
    width: 100% !important;
    font-size: 2rem !important;
    text-transform: capitalize;
    border-radius: .4rem !important;
}
.login-main main .login form .formgroup input {
    height: 5vh !important;
    outline: none !important;
    border: none !important;
    padding-left: .2rem !important;
}
.login-main main .login form .formgroup label {
    color: #fff;
}
.login-main main .login form .formgroup button {
    font-weight: 900;
    background-color:hsl(240, 63%, 45%);
    color:#fff;
    box-shadow: .1rem .1rem .2rem .4rem hsla(0, 0%, 0%, 0.086);
}

/* CREATING PACKAGE STYLES */
.package-body{
    background-color:hsl(240, 63%, 45%) !important;
}
.package-body main{
    display: flex !important;
    flex-direction: column !important; 
    align-items: center !important;
}
.package-body main section{
    padding: 4%;
}
.package-body main section.heading{
    padding-inline: 4% !important;
}
.package-body main section.heading h2{
    font-size: 2.4rem !important;
    color: #fff !important;
}
.package-body main section.createPackage {
    background-color: yellow !important;
    margin-inline: -4rem !important;
}
.package-body main section.createPackage form {

}
.package-body main section.createPackage form div.forgroup{
margin-bottom: 4% !important;
}
.package-body main section.createPackage form div.forgroup *{
    display: block !important;
}
.package-body main section.createPackage form div.forgroup label{
    margin-bottom: .4% !important;
}
.package-body main section.createPackage form div.forgroup label::first-letter{
    text-transform: uppercase !important;
}
.package-body main section.createPackage form div.forgroup input{
    height: 5vh !important;
    width: 80%;
}



@media (min-width: 900px){
    .login-main main .login{
        max-width: 50vw !important;
    }
    .login-main main .login form .formgroup *{
        font-size: 1.6rem !important;
    }

    .login-main main .login form .formgroup input {
        height: 7vh !important;
    }
}
@media (min-width: 1100px){
    .login-main main .login{
        max-width: 25vw !important;
    }

    .login-main main .login form .formgroup *{
        font-size: 1.2rem !important;
    }
    .login-main main .login form .formgroup input {
        height: 6vh !important;
    }
}