html{
    font-size: 100%;
    box-sizing: border-box;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit !important;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: inherit !important;
}
.admin__sidebar{
    background-color: hsl(215, 70%, 16%);
    width: 25vw;
    padding: 4% 0;
    position: relative;
}
.admin__sidebar *{
    color: #fff;
    font-size: 1.2rem;
    width: 100% !important;
    margin-left: .8rem !important;
    margin-bottom: 8% !important;
    cursor: pointer;
}
@media screen and (min-width:900px){
    .admin__sidebar{
        width: 20vw;
    }
}
@media screen and (min-width:1140px){
    .admin__sidebar{
        width: 14vw;
        font-size: 1rem;
    }
}
.admin__sidebar *::first-letter{
    text-transform: capitalize;
}
.admin__sidebar *:hover{
    text-decoration: underline;
}

/* Sidebar submenus */
.admin__sidebar--submenus {
    background-color: hsl(215, 91%, 29%);
    display: none !important;
    width: 35vw !important;
    padding: .4rem;
}
.admin__sidebar--submenus > ul {
    margin: 0 !important;
    padding: .2rem 0;
}
.admin__sidebar--submenus > ul > li {
    list-style-type: none;
    margin: 0 !important;
}
.admin__sidebar--submenus >ul > li > a {
    color: #000;
    text-decoration: none;
    margin: 0 !important;
}
/* position each submenu */
.menu__one:hover .one{
    position: absolute;
    top: 14%;
    left: 84%;
    display: block !important;
}
.menu__two:hover .two{
    position: absolute;
    top: 28%;
    left: 84%;
    display: block !important;
}
.menu__three:hover .three{
    position: absolute;
    top: 36%;
    left: 84%;
    display: block !important;
}
.menu__four:hover .four{
    position: absolute;
    top: 60%;
    left: 84%;
    display: block !important;
}