html{
    font-size: 100%;
    box-sizing: border-box;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit !important;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: inherit !important;
}
.admin__sidebar{
    background-color: hsl(215, 70%, 16%);
    width: 16vw;
    padding: 4% 0;
}
.admin__sidebar *{
    color: #fff;
    width: 80% !important;
    margin-inline: auto !important;
    margin-bottom: 8% !important;
}