html{
    font-size: 100%;
    box-sizing: border-box;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit !important;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: inherit !important;
}
.admin__sidebar{
    background-color: hsl(215, 70%, 16%);
    width: 25vw;
    padding: 4% 0;
}
.admin__sidebar *{
    color: #fff;
    font-size: 1.2rem;
    width: 100% !important;
    margin-left: .8rem !important;
    margin-bottom: 8% !important;
    cursor: pointer;
}
@media screen and (min-width:900px){
    .admin__sidebar{
        width: 20vw;
    }
}
.admin__sidebar *::first-letter{
    text-transform: capitalize;
}
.admin__sidebar *:hover{
    text-decoration: underline;
}